# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Power Mode'
      'command': 'activate-power-mode:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Activate Power Mode'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'activate-power-mode:toggle'
        },
        {
          'label': 'Enable'
          'command': 'activate-power-mode:enable'
        },
        {
          'label': 'Disable'
          'command': 'activate-power-mode:disable'
        },
        {
          'label': 'Select Effects'
          'command': 'activate-power-mode:select-effect'
        },
        {
          'label': 'Select Flow'
          'command': 'activate-power-mode:select-flow'
        },
        {
          'label': 'Select Plugin'
          'command': 'activate-power-mode:select-plugin'
        },
        {
          'label': 'Select Color'
          'command': 'activate-power-mode:select-color'
        },
        {
          'label': 'Reset Max Combo'
          'command': 'activate-power-mode:reset-max-combo'
        }
      ]
    ]
  }
]
