// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.power-mode {
  transform: translate3d(0, 0, 0);
}

.power-mode-canvas {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
}
